@use 'sass:color';
@use 'sass:map';

@mixin button-base {
  min-width: 4rem;
  height: 2.25rem;
  padding: 0 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 500;
  letter-spacing: 1.25px;
  cursor: pointer;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

@mixin button-outlined($color, $hover, $active) {
  border: 1px solid $color;
  color: $color;

  &:hover {
    background-color: $hover;
  }

  &:active {
    background-color: $active;
  }

  &:disabled {
    color: var(--text-disabled);
    border: 1px solid var(--border-disabled);
  }
}

button.outlined {
  @include button-base;
  background-color: transparent;

  &.primary {
    @include button-outlined(
      var(--primary),
      var(--primary-50),
      var(--primary-100)
    );
  }
}
