:host.alert {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;

  h4,
  p {
    margin: 0;
  }
}

:host.alert-error {
  background-color: var(--danger-100);
}
