:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--bg-card);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-card);
}

.quote-card-content {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

.quote-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote-card-author {
  margin: 0;
  font-size: 1.25rem;
}
